.git
.astro
.pi
node_modules
src
public
AGENTS.md
DESIGN.md
README.md
.eslintrc*
eslint.config.js
.prettierrc.json
.prettierignore
tsconfig.json
astro.config.ts
pnpm-lock.yaml
pnpm-workspace.yaml
package.json
.DS_Store
